body
{
	width:100%;
	height: 100%;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	background-size: cover;
	
}

@media (max-width: 640px){
	#wholelayout {
		height:auto;
	}

	h1{
		font-size:24px;
	}
#navbar
{
	display:none;


}
.block3, .block4, .block5, .block6, .block7, .block8
{
	display: none;
}
}


#wholelayout
{
	width:90%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	background-repeat: no-repeat;
	background-image: url('../Images/paddyfield.png'); background-repeat:no-repeat;
}

#headerover
{
	margin:0 auto;
	text-align:center;
	width:100%;
	height:220px;
	margin-top: 30px;
	padding: 20px;
	display: block;
}


h1
{
	font-size: 60px;
	font-weight: 100;
	margin:0 auto;
	text-shadow: 1px 1px 1px #000;
	text-align: center;
	width: 500px;
	opacity:1;
}

.p2
{
font-size: 20px;
margin:0 auto;
width:400px;
margin-top: 30px;

}

#blocks
{
	width: 100%;
}

.block1, .block2, .block3, .block4, .block5, .block6, .block7, .block8
{
	border-radius:100%;
	background-color:#F6CB51;
	opacity: 0.8;
	padding: 4px;
	margin-left: 90px;
	margin-top:10px;
	margin-bottom: 10px;
	text-align: center;
	width:250px;
	height:250px;
	overflow: hidden;
	display: inline-block;
}


.stylep
{
	font-weight: 200;
	font-size: 15px;
margin:0 auto;
	float left;
}

#logo
{
	padding: 4px;
	width:150px;
	height:150px;
	text-align: center;
	float: left;
	border: 1px solid black;
	font-weight: 100;
	margin-left: 10px;
	margin-top:-220px;
}

.navbar
{
float:right;
	padding: 4px;
	width: 200px;
	text-align: center;
	opacity: 0.8;
	font-weight: 200;
	margin-top:-220px;
	margin-right: 20px;
}


h2
{
	font-weight: 200;
}

.ln
{
	font-weight: 200;
	padding: 40px;
}

#footer 
{
	background-color:#F6CB51;
	opacity: 0.7;
	width:90%;
	height:150px;
	text-align: center;
	margin:0 auto;
	padding-top: 40px;
	border: 10px solid white;
}

