body
{
	width:100%;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	background-image: url('../Images/paddyfield.png'); background-repeat:repeat-x;
	margin:0 auto;
}

img
{
margin: 0 auto;
}

/*@media (max-width: 1800px){
	#layout {
		width:90%;
	}

	.fontawesome
	{
		width: 65%;
	}
	.p1{
		width:40%;
	}
#latestnews
{
	width: 30%;
}
.navbar
{
	width: 30%;
}

}
*/

#headerover
{
	margin:0 auto;
	text-align:center;
	width:100%;
	height:220px;
	margin-top: 30px;
	padding: 20px;
	display: block;
}


h1
{
	font-size: 60px;
	font-weight: 100;
	margin:0 auto;
	text-shadow: 1px 1px 1px #000;
	text-align: center;
	width: 500px;
	opacity:1;
}

.p2
{
font-size: 20px;
margin:0 auto;
width:400px;
margin-top: 30px;

}

#blocks
{
	width: 100%;
}

.block1, .block2, .block3, .block4, .block5, .block6, .block7, .block8
{
	border-radius:100%;
	background-color:#F6CB51;
	opacity: 0.8;
	padding: 4px;
	margin:0 auto;
	margin-left: 50px;
	margin-top:10px;
	text-align: center;
	width:250px;
	height:250px;
	overflow: hidden;
	display: inline-block;
}


.stylep
{
	font-weight: 200;
	font-size: 15px;
margin:0 auto;
	float left;
}

#logo
{
	padding: 4px;
	width:150px;
	height:150px;
	text-align: center;
	float: left;
	border: 1px solid black;
	font-weight: 100;
	margin-right: 10px;
	margin-top:-220px;
}

.navbar
{
float:right;
	padding: 4px;
	width: 200px;
	text-align: center;
	opacity: 0.8;
	font-weight: 200;
	margin-top:-220px;
	margin-right: 20px;
}


h2
{
	font-weight: 200;
}

.ln
{
	font-weight: 200;
	padding: 40px;
}

#footer 
{
	bottom: 10px;
	background-color: #F6CB51;
	border-radius: 30px;
	opacity: 0.8;
	width:50%;
	margin-left: 0;
	margin:0 auto;
	text-align: center;
	display: block;
}

